[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
matplotlib = "*"
pylint = "*"
pylint-flask = "*"

[packages]
pandas = "*"
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
tweepy = "*"
python-dotenv = "*"
spacy = "*"
jupyter = "*"
scikit-learn = "*"

[requires]
python_version = "3.8"
